* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
}

:root {
  /*font size, I got these from https://typescale.com/ while using 'Inter' font size*/
  --fs-1: 4.778rem;
  --fs-2: 3.981rem;
  --fs-3: 3.318rem;
  --fs-4: 2.765rem;
  --fs-5: 2.304rem;
  --fs-6: 1.92rem;
  --fs-7: 1.6rem;
  --fs-8: 1.333rem;

  /*line height*/
  --fs-1-lh: 1;
  --fs-2-lh: 1.15;
  --fs-3-lh: 1.25;
  --fs-4-lh: 1.4;
  --fs-5-lh: 1.5;
  --fs-6-lh: 1.7;

  /*letter spacing*/
  --fs-ls: -0.03rem;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 96rem;
  margin: 0 auto;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 8rem;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  margin-top: 4.8rem;
}

header,
section {
  margin-bottom: 4.8rem;
}

h1 {
  margin-bottom: 2.4rem;
  font-size: var(--fs-1);
  line-height: var(--fs-1-lh);
  letter-spacing: var(--fs-ls);
}

h2 {
  margin-bottom: 4.8rem;
  font-size: var(--fs-2);
  line-height: var(--fs-2-lh);
  letter-spacing: var(--fs-ls);
}

h3 {
  margin-bottom: 2.4rem;
  font-size: var(--fs-4);
  line-height: var(--fs-4-lh);
  letter-spacing: var(--fs-ls);
}

p {
  font-size: var(--fs-6);
  line-height: var(--fs-6-lh);
}

.header-text-box {
  align-self: center;
}

.header-text {
  margin-bottom: 2.4rem;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */
.features-icon {
}

.features-title {
  margin-bottom: 1.6rem;
}

.features-text {
}

.testimonial-section {
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 2.4rem;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 2.4rem;
  font-size: var(--fs-6);
  line-height: var(--fs-6-lh);
}

.chair-box {
  padding: 2.4rem;
}

.chair-details {
  list-style: none;
  margin-bottom: 2.4rem;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
}

.chair-price {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-6);
  line-height: var(--fs-6-lh);
}

footer {
  margin-bottom: 4.8rem;
  font-size: var(--fs-7);
}

.btn {
  font-size: var(--fs-6);
  line-height: var(--fs-6-lh);
}
